<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Menjar</title>

  <link rel="shortcut icon" type="image/x-icon" href="../resources/index/favicon.ico" />
  <!-- Import Google Icon -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!--Import materialize.css-->

        <link type="text/css" rel="stylesheet" href="../vendor/materialize/css/materialize.css"  media="screen,projection"/>

  <!-- Custom -->

  <link rel="stylesheet" href="../css/index/styles.css">
  <link rel="stylesheet" href="../css/index/map.css">
  <link rel="stylesheet" href="../css/index/products.css">
  <link rel="stylesheet" href="../css/index/register.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<!-- HEADER -->
<header>

  <!-- Menu -->
  <nav class="red darken-4 z-depth-3">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">
          <img src="../resources/index/logo_base.png" alt="" width="140px" heigth="70px" align="center">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/login/sing_out"><i class="medium material-icons">launch</i></a></li>
        <li><a href="collapsible.html"><i class="medium material-icons">settings</i></a></li>
      </ul>
    </div>
  </nav>

  <!-- Zona de busqueda -->
  <div class="row z-depth-3" style="background-color:#d9d5d1;">
      <div class="input-field col s7 offset-s2">
                <input id="last_name" type="text" class="validate">
                <label for="last_name"> <span style="margin-left: 10px;"></span>Buscar</label>
      </div>
      <button class="btn red darken-4 waves-effect waves-light input-field" style="height: 3rem;">
          Buscar
      </button>
  </div>

    <!-- Menu -->
</header>

<!-- Principal -->
<main>
  <!--  <h4 class="center-align">Provider</h4> -->
    <div class="row">
        <!-- Red social
        <div class="col s3 offset-s2 m2 rect_marg z-depth-2">
            <h5>Datos Cliente</h5>
            <div class = "divider"></div>
        </div> -->

        <div class="col s9 offset-s0 offset-m1 m10 rect_marg z-depth-2">
            <h5 class = "center-align"> Mis Productos </h5>
            <table class = "responsive-table bordered">

                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Vencimiento</th>
                        <th>Precio</th>
                        <th>Ubicacion</th>
                        <th>Descripcion</th>
                        <th>M</th>
                    </tr>
                </thead>
                <tbody>
                    <% provider.products.forEach(function(product){ %>
                    <tr>
                      <td><img src = "../<%=product.img%>" width="25%"></td>
                      <td><%=product.name%></td>
                      <td><%=product.category%></td>
                      <td><%=product.expirationDate%></td>
                      <td><%=product.price%></td>
                      <td>[<%=product.location.lat%> ,<%=product.location.lng%>]</td>
                      <td><%=product.description%></td>
                      <td>
                      <form method="post" action="/provider/delete-product">
                          <button value="<%=product.id%>" name = "prodId" class = "fa fa-trash-o" style= "font-size:25px"> </button>
                      </form>
                      </td>
                    </tr>

                    <% }); %>


                    <tr>

                      <!-- REmplezar por esto
                      <td><div class = "file-field input-field">
                        <input name = "img" placeholder="img" id="img" type="file" class="validate">
                      </div></td>

                      -->

                      <td>
                         <div class="file-field input-field">
                           <div class="btn">
                             <span>File</span>
                             <input id = "img" name = "img" type="file">
                           </div>
                           <div class="file-path-wrapper">
                             <input class="file-path validate" type="text">
                           </div>
                         </div>
                       </td>


                      <td><div class = "input-field">
                        <input name = "name" placeholder="Nombre" id="name" type="text" class="validate">
                      </div></td>

                      <td><div class = "input-field">
                        <select name = "category" class = "browser-default">
                            <option value = "Jugos">Jugos </option>
                            <option value = "Paquetes">Paquete</option>
                        </select>

                      </div></td>

                      <td><div class = "input-field">
                        <input name = "expirationDate" placeholder="Vencimiento" type="date" class="validate">
                      </div></td>

                      <td><div class = "input-field">
                        <input name = "price" placeholder="Precio" id="price" type="number" class="validate">
                      </div></td>

                      <td><div class = "input-field">
                        <a onclick = "locate()" id ="location" class = "btn btn-medium waves-effect waves-light">Ubicar</a>
                      </div></td>

                      <td><div class = "input-field">
                         <textarea name = "description" class="materialize-textarea"></textarea>
                      </div></td>

                    </tr>


                </tbody>


            </table>

            <div class = "row">
                <div class = "input-field col m4">
                    <a onclick = "createProduct()" class = "btn-floating btn-large waves-effect waves-light green">+</a>
                    <!-- <input type = "submit" class = "btn-floating btn-large waves-effect waves-light green" value = "+"> -->
                    <!-- <button class = "btn-floating btn-large waves-effect waves-light green"> + </button>  -->
                </div>
            </div>

        </div>

    </div>
    <!-- modal para verificar acceso -->
    <div id="errorModal" class="modal bottom-sheet">
          <div class="modal-content">
              <h4 id = "returnMessage">Modal Header</h4>
          </div>
          <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
    </div>
</main>

<!-- FOOTER -->
<footer>
    <%include ../partials/footer.ejs %>
</footer>

<!-- jQuery -->
<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
<!-- JS - Materialize -->
 <script src="../vendor/materialize/js/materialize.js"></script>
<!-- Buttons -->
<script src="../js/buttons.js"></script>
<!-- Modals -->
<script src="../js/modals.js"></script>

<script src="../js/login/provider/controller.js"></script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

</body>
</html>
