<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Menjar</title>

  <link rel="shortcut icon" type="image/x-icon" href="../resources/index/favicon.ico" />
  <!-- Import Google Icon -->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->

        <link type="text/css" rel="stylesheet" href="../vendor/materialize/css/materialize.css"  media="screen,projection"/>

  <!-- Custom -->

  <link rel="stylesheet" href="../css/index/styles.css">
  <link rel="stylesheet" href="../css/index/map.css">
  <link rel="stylesheet" href="../css/index/products.css">
  <link rel="stylesheet" href="../css/index/register.css">
</head>
<body>

<!-- HEADER -->
<header>
    <!-- Menu -->
    <% include  ../partials/header.ejs %>

</header>

<!-- Principal -->
<main>
    <h4 class="center-align">Provider</h4>
    <div class="row">
        <!-- Red social
        <div class="col s3 offset-s2 m2 rect_marg z-depth-2">
            <h5>Datos Cliente</h5>
            <div class = "divider"></div>
        </div> -->

        <div class="col s9 offset-s2 offset-m1 m10 rect_marg z-depth-2">
            <h5 class = "center-align"> Mis Productos </h5>
            <table class = "responsive-table bordered">

                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Vencimiento</th>
                        <th>Precio</th>
                        <th>Ubicacion</th>
                        <th>Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    <% provider.products.forEach(function(product){ %>
                    <tr>
                      <td><%=product.img%></td>
                      <td><%=product.name%></td>
                      <td><%=product.category%></td>
                      <td><%=product.expirationDate%></td>
                      <td><%=product.price%></td>
                      <td>[<%=product.location.lat%> ,<%=product.location.lng%>]</td>
                      <td><%=product.description%></td>
                    </tr>
                    <% }); %>
                    <tr>
                      <td><div class = "input-field">
                        <input name = "img" placeholder="img" id="img" type="text" class="validate">
                      </div></td>

                      <td><div class = "input-field">
                        <input name = "name" placeholder="Nombre" id="name" type="text" class="validate">
                      </div></td>

                      <td><div class = "input-field">
                        <select name = "category" class = "browser-default">
                            <option value = "Jugos">Jugos </option>
                            <option value = "Paquetes">Paquete</option>
                        </select>

                      </div></td>

                      <td><div class = "input-field">
                        <input name = "expirationDate" placeholder="Vencimiento" type="date" class="validate">
                      </div></td>

                      <td><div class = "input-field">
                        <input name = "price" placeholder="Precio" id="price" type="number" class="validate">
                      </div></td>

                      <td><div class = "input-field">
                        <a onclick = "locate()" id ="location" class = "btn btn-medium waves-effect waves-light">Ubicar</a>
                      </div></td>

                      <td><div class = "input-field">
                         <textarea name = "description" class="materialize-textarea"></textarea>
                      </div></td>

                    </tr>

                </tbody>
            </table>
                      <div class = "row">
                          <div class = "input-field col m4">
                              <a onclick = "createProduct('<%=user %>')" class = "btn-floating btn-large waves-effect waves-light green">+</a>
                          </div>
                      </div>
        </div>

    </div>
    <!-- modal para verificar acceso -->
    <div id="errorModal" class="modal bottom-sheet">
          <div class="modal-content">
              <h4 id = "returnMessage">Modal Header</h4>
          </div>
          <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
    </div>
</main>

<!-- FOOTER -->
<footer>
    <%include ../partials/footer.ejs %>
</footer>

<!-- jQuery -->
<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
<!-- JS - Materialize -->
 <script src="../vendor/materialize/js/materialize.js"></script>
<!-- Buttons -->
<script src="../js/buttons.js"></script>
<!-- Modals -->
<script src="../js/modals.js"></script>

<script src="../js/provider/controller.js"></script>

</body>
</html>
